<form>
    <h1>ALTERAR DOAÇÃO</h1>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="doacao.descricao" [formControl]="descricao" type="text" name="descricao" placeholder="Ex.: Doação de Latas de Leite Ninho" maxlength="400" required></textarea>
        <mat-error *ngIf="descricao.invalid">{{retornaMensagemDeErroDescricao()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Quantidade</mat-label>
        <input matInput [(ngModel)]="doacao.quantidade" [formControl]="quantidade" type="number" name="quantidade" placeholder="Quantidade" maxlength="3" required>
        <mat-error *ngIf="quantidade.invalid">{{retornaMensagemDeErroQuantidade()}}</mat-error>
    </mat-form-field>
    <!--Falta acrescentar o Combo Categoria e carregar todas as categorias no mesmo-->

    <div class="buttons">
        <button [disabled]="retornaMensagemDeErroDescricao() || retornaMensagemDeErroQuantidade()" (click)="atualizarDoacao()" class="mat-elevation-z8" mat-stroked-button color="primary">SALVAR</button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>
